.index-banner img{
  width: 1000px;
  margin: auto;
}

.features {
  display: flex;
  grid-gap: 100px;
  margin: 50px 50px;
  text-align: center;
}
.feature{
  width:50%;
 
}
.feature img {
  height: 90px;
}
.feature-headline p {
  font-size: 1.5rem;
  font-weight: bold;
  text-justify: auto;
  }


.feature-headline{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.feature-description{
  font-size: 1.2rem;
}