.headline-verwaltung{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-newitem{
  border-color: black;
  background-color: black;
  color: white;
  margin-right: 20px;
}
